$color-1: white;
$color-2: #595c77;
$color-3: #60dbfc;
$font: sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} // reset

.menu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 50px 0 50px;

    .page-title {
        color: $color-3;
        font-family: $font;
    } // .page-title

    &--list {
        display: flex;
        align-items: center;

        &_item {
            list-style: none;

            img {
                height: 30px;
                border-radius: 1000px;
                margin: 0 0 0 40px;
            } // img

            i {
                color: $color-1;
                font-size: 20px;
                box-sizing: border-box;
                padding: 0 15px 0 0;
            } // i

            a {
                text-decoration: none;
            } // a
        } // menu--list_item
    } // .menu--list
} // .menu