$bg-color: #282844;
$contacts-font: 'Nunito', sans-serif;
$color-1: white;
$color-2: #595c77;
$color-3: #60dbfc;
$color-4: #1d1b33;

html, body {
    background-color: $bg-color;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
} // html, body

.main-container {
    font-family: $contacts-font;

    .form-container {
        box-sizing: border-box;
        padding: 0 100px;
        display: flex;

        &--contacts {
            position: relative;
            background: $bg-color;
            height: 40px;
            border-radius: 4px 4px 4px 0;
            margin: 0 4px 0 0;
            //width: 300px;

            span {
                line-height: 40px;
                color: $color-1;
                box-sizing: border-box;
                padding: 0 15px;
            } // span

            &_list {
                position: absolute;
                top: 40px;
                border-radius: 0 0 4px 4px;
                overflow: hidden;
                display: none;

                a {
                    text-decoration: none;
                    color: $color-1;

                    .form-container--contacts_list--contact {
                        display: flex;
                        box-sizing: border-box;
                        padding: 10px 15px 10px 10px;
                        background-color: $bg-color;
    
                        &_image {
                            box-sizing: border-box;
                            padding: 0 15px 0 0;
    
                            img {
                                height: 30px;
                                border-radius: 100px;
                            } // img
                        } // .form-container--contacts_list--contact_image
    
                        &_name {
                            line-height: 40px;
                        } // .form-container--contacts_list--contact_name
    
                    } // .form-container--contacts_list--contact
                } // a

                a:hover {

                    .form-container--contacts_list--contact {
                        background: $color-4;
                    } // .form-container--contacts_list--contacts
                } // a:hover
            } // .form-container--contacts_list
        } // .form-container--contacts

        &--contacts:hover {

            .form-container--contacts_list {
                display: block;
            } // .form-container--contacts_list
        } // .form-container--contacts:hover

        &--form {
            
            input {
                border: none;
                height: 40px;
                border-radius: 4px;
                box-sizing: border-box;
                padding: 0 10px;
            } // input

            button {
                height: 40px;
                border: none;
                border-radius: 4px;
                background-color: $color-3;
                color: white;
                box-sizing: border-box;
                padding: 0 15px;
            } // button
        } // .form-container--form
    }  //.form-container

    .items-container {
        margin: 50px 0 0 0;

        &--item {
            display: flex;
            justify-content: space-between;
            border-bottom: $color-1 solid 1px;
            box-sizing: border-box;
            padding: 25px 40px;
            margin: 0 100px;
            color: $color-1;

            &_content {

                .top {
                    box-sizing: border-box;
                    padding: 0 0 50px 0;
                    font-size: 24px;
                } // top

                .bottom {
                    display: flex;

                    .left {
                        box-sizing: border-box;
                        padding: 0 20px 0 0;
                        
                        img {
                            height: 35px;
                            border-radius: 100px;
                        } // img
                    } // .left

                    .right {
                        display: flex;
                        flex-direction: column;
                        color: $color-3;

                        span {
                            
                            span {
                                color: $color-2;
                            } // span
                        } // span
                    } // .right
                } // .bottom
            } // .items-container--item_content

            &_actions {
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                i {
                    color: $color-2;
                    margin: 15px 0;
                } // i

                .item_finished {
                    color: green;
                } // .item_finished
            } // .contacts-list--item_btnDelete
        } // .items-container--item

        .highlighted {

            .fa-exclamation-circle {
                color: rgba(red, .6);
            } // .fa-exclamation-circle

            #date_return {
                color: rgba(red, .6);
            } // #date_return
        } // .highlighted
    } // .items-container
} // .main-container