html, body {
  background-color: #282844;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.main-container {
  font-family: "Nunito", sans-serif;
}

.main-container .form-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
}

.main-container .form-container--contacts {
  position: relative;
  background: #282844;
  height: 40px;
  border-radius: 4px 4px 4px 0;
  margin: 0 4px 0 0;
}

.main-container .form-container--contacts span {
  line-height: 40px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

.main-container .form-container--contacts_list {
  position: absolute;
  top: 40px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  display: none;
}

.main-container .form-container--contacts_list a {
  text-decoration: none;
  color: white;
}

.main-container .form-container--contacts_list a .form-container--contacts_list--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px 10px 10px;
  background-color: #282844;
}

.main-container .form-container--contacts_list a .form-container--contacts_list--contact_image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px 0 0;
}

.main-container .form-container--contacts_list a .form-container--contacts_list--contact_image img {
  height: 30px;
  border-radius: 100px;
}

.main-container .form-container--contacts_list a .form-container--contacts_list--contact_name {
  line-height: 40px;
}

.main-container .form-container--contacts_list a:hover .form-container--contacts_list--contact {
  background: #1d1b33;
}

.main-container .form-container--contacts:hover .form-container--contacts_list {
  display: block;
}

.main-container .form-container--form input {
  border: none;
  height: 40px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.main-container .form-container--form button {
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #60dbfc;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

.main-container .items-container {
  margin: 50px 0 0 0;
}

.main-container .items-container--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: white solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 40px;
  margin: 0 100px;
  color: white;
}

.main-container .items-container--item_content .top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 50px 0;
  font-size: 24px;
}

.main-container .items-container--item_content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .items-container--item_content .bottom .left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 0;
}

.main-container .items-container--item_content .bottom .left img {
  height: 35px;
  border-radius: 100px;
}

.main-container .items-container--item_content .bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #60dbfc;
}

.main-container .items-container--item_content .bottom .right span span {
  color: #595c77;
}

.main-container .items-container--item_actions {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .items-container--item_actions i {
  color: #595c77;
  margin: 15px 0;
}

.main-container .items-container .finished .fa-check-circle {
  color: green;
}

.main-container .items-container .finished .right {
  color: green;
}

.main-container .items-container .highlighted .fa-exclamation-circle {
  color: rgba(255, 0, 0, 0.6);
}

.main-container .items-container .highlighted #date_return {
  color: rgba(255, 0, 0, 0.6);
}
/*# sourceMappingURL=index.css.map */